body {
background: url(1.jpg);
-moz-background-size: 100%;
-webkit-background-size: 100%;
-o-background-size: 100%;
background-size: 100%;
}
  /*желтый блок*/
.form-wrap {
  width: 550px;
  height: 300px;
  background: #DEB887;
  border-radius: 20px;

  padding: 50px;
  position: fixed; top: 50%; left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/*картинка*/
.form-wrap 
.profile {
  width: 240px;
  float: left;
  text-align: center;
  padding: 0px;
}
/*второй блок*/
form {
  background: #C0C0C0;
  float: left;
  width: calc(100% - 400px);  
  padding: 30px;
  border-radius: 0 20px 20px 0;
  color:#000000; 

  padding: 50px;
  position: fixed; top: 50%; left: 70%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

form div {
  margin-bottom: 15px;
  position: relative;
}

h1 {
  font-size: 24px;
  font-weight: 400;
  position: relative;
  margin-top: 50px;
}

/********************** стилизация элементов формы **********************/
label, span {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
  }

button {
  padding: 10px 0;
  border-width: 0;
  display: block;
  width: 120px;
  margin: 25px auto 0;
  background: #60e6c5;
  color: white;
  font-size: 14px;
  outline: none;
  text-transform: uppercase;
}

/********************** добавляем форме адаптивность **********************/
{
  .form-wrap {margin: 20px auto; max-width: 550px; width:100%;}
  .profile, form {float: none; width: 100%;}
  h1 {margin-top: auto; padding-bottom: 50px;}
  form {border-radius: 0 0 20px 20px;}
}